.page-category-header{
    font-size: 30px;
}

.ul-options-category{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.option-categorie{
 background-color: blueviolet;
 margin: 100px;
 height: 300px;
 width: 300px;
 border-radius: 50%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 transition: 0.5s;
} 

.div-categories{
    background-color: white;
}

li {
    list-style: none;
}

.a-category-option{
    text-decoration: none;
    color: black;
    color: white;
    font-weight: 500;
    font-size: 27px;
}

.icon-category{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
    background-color: white;
}

/*STULE CATEGORIES OPTIONS*/
.option-program{
    background-color: rgb(4, 134, 241); 
}
.option-program:hover {
    background-color: rgb(7, 110, 194);
}

.option-art{
    background-color: rgb(189, 21, 21); 
}
.option-art:hover{
    background-color: rgb(146, 3, 3); 
}

.option-history{
    background-color: rgb(247, 189, 30); 
}
.option-history:hover{
    background-color: rgb(206, 153, 7); 
}

.option-science{
    background-color: rgb(39, 110, 5); 
}
.option-science:hover{
    background-color: rgb(24, 73, 2); 
}

.option-entertainment{
    background-color: rgb(204, 18, 89); 
}
.option-entertainment:hover{
    background-color: rgb(138, 6, 56); 
}

.option-sport{
    background-color: rgb(236, 95, 13); 
}
.option-sport:hover{
    background-color: rgb(190, 73, 6); 
}

