.navbar {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 20%;
}

.navbar-nav{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.navbar-ul-options-to-nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar-h1-tilte{
    width: 20%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-logo{
    font-size: 30px;
    margin-left: 70px;
    
}

.navlink-to-navbar{
    text-decoration: none;
    font-size: 35px;
    transition: 1s;
    color: black;
}

.navlink-to-navbar:hover{
    position: relative;
    
}

.navlink-to-navbar::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #f8d50f 9.6%, #ee3a04 93.6%);
  }

  .btn-navbar{
    width: auto;
    height: auto;
    border: none;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    transition: 0.3s;
  }

  .btn-navbar:hover {
    border: 3px solid black;

  }

  .logo-out {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
