.div-principal-art {
    margin-bottom: 5rem;
}

.art {
    background-color: rgb(187, 10, 10);
    color: white;
    font-weight: bold;
    margin: 25px;
}

.art:hover {
    background-color: rgb(126, 8, 8);
    transform: scale(1.1);
}

.title-art {
    background-image: url('https://static-cdn.myedools.com/org-113225%2Fschool-114343%2Fcca0552364eb2def67046b68ae9d9165%2F379capa.jpg');
    background-size: contain;
    color: white;
    height: 20rem;
}

.answer-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-option-btn {
    width: 40%;
    height: auto;
}
