.principal-div-program{
    height: 100vh;
}

.div-show-questions{
    background-color: rebeccapurple;
    color: white;
    width: 70%;
    height: 40rem;
    margin: auto;
    margin-top: 5rem;
}

.selet-questions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}