@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.category-div{
    background-color: violet;
    height: 90vh;
    font-family: 'Amatic SC', sans-serif;
}

.ul-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: steelblue;
    height: 100%;
}

.ul-categories li {
    background-color: tomato;
    list-style: none;
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight:bold;
    border-radius: 10px;
    color: black;
    
}

a {
    text-decoration: none;
}

