@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.div-principal-home{
    font-family: 'Sniglet', system-ui;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-subtitle{
    font-size: 40px;
    width: 50%;
    margin: auto;
}

.title-subtilte{
    margin-top: 5rem;
}

.link-button-start {
    margin-top: 2rem;
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 70% 40%;
    border: 3px solid   rgb(160, 4, 4);;
    color: black;
    font-size: 40px;
    text-decoration: none;
    transition: 0.3s;
}

.link-button-start:hover {
    background-color:  rgb(160, 4, 4);;
    color: white;
}